---
import contactImage from "../images/contact-img.png";
---

<section id="Contact">
  <h2 class="text-2xl sm:text-4xl md:text-6xl font-bold text-center">
    <span class="text-primary">Contact</span> Me
  </h2>
  <div
    class="my-20 flex flex-col-reverse md:flex-row gap-6 items-center justify-around"
  >
    <div class="flex flex-col gap-3 md:gap-6 text-xl md:text-2xl">
      <a
        class="hover:text-primary duration-300 ease-in-out border-b-4 border-primary hover:border-white"
        href="mailto:salunkhekunal594@gmail.com">salunkhekunal594@gmail.com</a
      >
      <a
        class="hover:text-primary duration-300 ease-in-out"
        href="https://github.com/KunalSalunkhe12">Github</a
      >
      <a
        class="hover:text-primary duration-300 ease-in-out"
        href="https://www.linkedin.com/in/kunal-salunkhe12/">Linkedin</a
      >
    </div>
    <img
      src={contactImage}
      class="w-[15rem] md:w-[25rem]"
      alt="Boy talking online"
    />
  </div>
</section>
