---
import reactRouterIcon from "../images/react-router.svg";
---

<section id="Tech" class="mt-20 mb-60">
  <h2 class="text-2xl sm:text-4xl md:text-6xl font-bold text-center">
    My <span class="text-primary">Tech</span> Stack
  </h2>
  <div class="flex items-center justify-center gap-10 my-20 flex-wrap group">
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">
      <img
        class="cursor-pointer"
        src="https://skillicons.dev/icons?i=html"
        alt="Html icon"
      />
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">
      <img
        class="cursor-pointer"
        src="https://skillicons.dev/icons?i=css"
        alt="Css icon"
      />
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
      <img
        class="cursor-pointer"
        src="https://skillicons.dev/icons?i=js"
        alt="Javascript icon"
      />
    </a>
    <a href="https://react.dev/">
      <img
        class="cursor-pointer"
        src="https://skillicons.dev/icons?i=react"
        alt="React icon"
      />
    </a>
    <a href="https://reactrouter.com/en/main">
      <img
        class="bg-white h-[48px] w-[48px] rounded-lg"
        src={reactRouterIcon}
        alt="React router icon"
      />
    </a>
    <a href="https://redux-toolkit.js.org/">
      <img
        class="cursor-pointer"
        src="https://skillicons.dev/icons?i=redux"
        alt="Redux icon"
      />
    </a>
    <a href="https://tailwindcss.com/">
      <img
        class="cursor-pointer"
        src="https://skillicons.dev/icons?i=tailwind"
        alt="Tailwind css icon"
      />
    </a>
    <a href="https://astro.build/">
      <img
        class="cursor-pointer"
        src="https://skillicons.dev/icons?i=astro"
        alt="Astro js icon"
      />
    </a>
    <a href="https://git-scm.com/">
      <img
        class="cursor-pointer"
        src="https://skillicons.dev/icons?i=git"
        alt="Git icon"
      />
    </a>
    <a href="https://github.com/">
      <img
        class="cursor-pointer"
        src="https://skillicons.dev/icons?i=github"
        alt="Githun icon"
      />
    </a>
  </div>
</section>
